header {
    background-color: deeppink;
    color:black;
}

body {
    background-color: deeppink;
    color: white;
}

footer {
    background-color: deeppink;
    color:black;
}

.imagem-2{
    width: 40%;
    align-items: center;
    margin-left: 200px;
}