header {
    background-color: whitesmoke;
    color: rgb(201, 5, 109);
}

body {
    background-color: whitesmoke;
    color: black;
}

footer {
    background-color: whitesmoke;
    color: rgb(201, 5, 109);
}

.imagem-2{
    width: 40%;
    align-items: center;
    margin-left: 200px;
}